                <ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
                    <li class="list-group-item active">
                        <a ui-sref="dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="dashboard.projects"><i class="fa fa-cubes"></i> Quotes</a>
                    </li>
                    <!--<li class="list-group-item">
                        <a ui-sref="dashboard.projects"><i class="fa fa-cubes"></i> My Projects</a>
                    </li>-->
                    <li class="list-group-item">
                        <a ui-sref="dashboard.contacts"><i class="fa fa-group"></i> Contacts</a>
                    </li>
                    <!-- Email -->
                    <li class="list-group-item list-toggle">
                        <a href="#collapse-buttons" data-parent="#sidebar-nav" data-toggle="collapse"><i class="fa fa-envelope"></i>Mailbox</a>
                        <ul class="collapse" id="collapse-buttons">
                            <li><a ui-sref="dashboard.mailbox"><i class="fa fa-flask"></i> Inbox</a></li>
                            <li>
                                <span class="badge badge-u">New</span>
                                <a href="shortcode_btn_brands.html"><i class="fa fa-html5"></i> Compose</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>
                                <a href="shortcode_btn_effects.html"><i class="fa fa-bolt"></i> Read</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Email -->
                    <li class="list-group-item">
                        <a ui-sref="dashboard.eventcalender"><i class="fa fa-calendar"></i> Calendar</a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="dashboard.invoice"><i class="fa fa-thumb-tack"></i> Invoice</a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="dashboard.token"><i class="fa fa-creative-commons"></i> Token</a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="dashboard.referral"><i class="fa fa-bullhorn "></i> Referral</a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="dashboard.settings"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>