<div ng-controller="prodashboard">
<div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <img alt="" src="assets/img/main/img12.jpg" class="img-responsive profile-img margin-bottom-20">

                <div ng-include="'app/views/dashboard/left_nav.html'"></div>
                <div class="col-sm-7 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-send"></i> Alarm Notification</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div data-mcs-theme="minimal-dark" class="panel-body no-padding mCustomScrollbar" id="scrollbar3">
                                    <div class="alert-blocks alert-blocks-pending alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <img alt="" src="assets/img/testimonials/img3.jpg" class="rounded-x">
                                        <div class="overflow-h">
                                            <strong class="color-yellow">Pending... <small class="pull-right"><em>Just now</em></small></strong>
                                            <p>Your friend request has been sent.</p>
                                        </div>
                                    </div>
                                    <div class="alert-blocks alert-blocks-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <img alt="" src="assets/img/testimonials/img2.jpg" class="rounded-x">
                                        <div class="overflow-h">
                                            <strong class="color-green">Accepted. <small class="pull-right"><em>7 hours ago</em></small></strong>
                                            <p>Your friend request has been accepted.</p>
                                        </div>
                                    </div>
                                    <div class="alert-blocks alert-blocks-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="icon-custom rounded-x icon-bg-blue fa fa-bolt"></i>
                                        <div class="overflow-h">
                                            <strong class="color-blue">Info <small class="pull-right"><em>2 days ago</em></small></strong>
                                            <p>Your friend request has been denied :)</p>
                                        </div>
                                    </div>
                                    <div class="alert-blocks alert-blocks-error alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <img alt="" src="assets/img/testimonials/img6.jpg" class="rounded-x">
                                        <div class="overflow-h">
                                            <strong class="color-red">Denied! <small class="pull-right"><em>2 days ago</em></small></strong>
                                            <p>Your friend request has been denied.</p>
                                        </div>
                                    </div>
				    <div class="alert-blocks alert-blocks-error alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <img alt="" src="assets/img/testimonials/img6.jpg" class="rounded-x">
                                        <div class="overflow-h">
                                            <strong class="color-red">Denied! <small class="pull-right"><em>2 days ago</em></small></strong>
                                            <p>Your friend request has been denied.</p>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
			<div class="col-sm-5">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> Discussions</h2>
                                    <a class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" href="page_profile_comments.html">View All</a>
                                </div>
                                <div data-mcs-theme="minimal-dark" class="panel-body no-padding mCustomScrollbar" id="scrollbar4">
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img6.jpg">
                                        <div class="overflow-h">
                                            <strong>Taylor Lee<small class="pull-right"> 25m</small></strong>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img2.jpg">
                                        <div class="overflow-h">
                                            <strong>Miranda Clarsson<small class="pull-right"> 44m</small></strong>
                                            <p>Donec cursus, orci non posuere luctus, risus massa luctus nisi, sit amet cursus leo massa id arcu. Nunc tincidunt magna sit amet sapien congue.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img4.jpg">
                                        <div class="overflow-h">
                                            <strong>Natasha Kolnikova<small class="pull-right"> 7h</small></strong>
                                            <p>Suspendisse est est, sollicitudin eget auctor et, pharetra eu sapien. Mauris mollis libero ac auctor iaculis.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img1.jpg">
                                        <div class="overflow-h">
                                            <strong>Mikel Andrews<small class="pull-right"> 15h</small></strong>
                                            <p>Nam ut dolor cursus nibh aliquet bibendum in eget risus.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">20</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
		    
                <!--<div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Task Progress</h2>
                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <h3 class="heading-xs">Web Design <span class="pull-right">92%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                    </div>
                </div>
                <h3 class="heading-xs">Unify Project <span class="pull-right">85%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div class="progress-bar progress-bar-blue" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                    </div>
                </div>
                <h3 class="heading-xs">Sony Corporation <span class="pull-right">64%</span></h3>
                <div class="progress progress-u progress-xxs margin-bottom-40">
                    <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: 64%">
                    </div>
                </div>-->
		<!--  <hr>-->
                <div class="margin-bottom-50"></div>
                <!--Datepicker-->
                <form class="sky-form" id="sky-form2" action="#">
                    <div id="inline-start"></div>
                </form>
                <!--End Datepicker-->
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body">
                    <!--Service Block v3-->
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6 sm-margin-bottom-20">
                            <div class="service-block-v3 service-block-u"><em class="icon-users"></em> <span class="service-heading">Total Leads</span> <span class="counter">52,147</span>
                              <div class="clearfix margin-bottom-10"></div>

                                <div class="row margin-bottom-20">
                                    <div class="col-xs-6 service-in">
                                        <small>Last Week</small>
                                        <h4 class="counter">1,385</h4>
                                    </div>
                                    <div class="col-xs-6 text-right service-in">
                                        <small>Last Month</small>
                                        <h4 class="counter">6,048</h4>
                                    </div>
                                </div>
                                <div class="statistics">
                                <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">67%</span></h3>
                                    <div class="progress progress-u progress-xxs">
                                        <div class="progress-bar progress-bar-light" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                                        </div>
                                    </div>
                                    <small>11% less <strong>than last month</strong></small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="service-block-v3 service-block-blue">
                                <i class="icon-screen-desktop"></i>
                                <span class="service-heading">Total Tokens</span>
                                <span class="counter">324,056</span>

                                <div class="clearfix margin-bottom-10"></div>

                                <div class="row margin-bottom-20">
                                    <div class="col-xs-6 service-in">
                                        <small>Last Week</small>
                                        <h4 class="counter">26,904</h4>
                                    </div>
                                    <div class="col-xs-6 text-right service-in">
                                        <small>Last Month</small>
                                        <h4 class="counter">124,766</h4>
                                    </div>
                                </div>
                                <div class="statistics">
                                <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">89%</span></h3>
                                    <div class="progress progress-u progress-xxs">
                                        <div class="progress-bar progress-bar-light" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%">
                                        </div>
                                    </div>
                                    <small>15% higher <strong>than last month</strong></small>
                                </div>
                            </div>
                        </div>
			
			<div class="buy-token">
  			  <h2><a href="#" class="btn btn-u btn-token">Buy Token</a></h2>
  			</div>
		  </div><!--/end row-->
                    <!--End Service Block v3-->
                    <hr>
                 
                        <div class="project_profile panel">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <img class="rounded-x" src="assets/img/testimonials/img3.jpg" alt="" height="75" width="75">
                                </div>
                                <div class="col-md-10">
                                    <span><strong><a href="">kyakri c.</a></strong></span>
                                    <p><b>Article/Blog Writer & Rewriter<b></p>
                                    <ul class="list-inline list-unstyled">
                                        <li class="col-md-3">$100.00</li>
                                        <li class="col-md-3 text-center">0 hrs</li>
                                        <li class="col-md-6 text-center"><i class="radius-3x fa fa-map-marker"></i><span style="padding-left:6px">Canada</span></li>
                                        <li class="clearfix"></li>
                                    </ul>
                                    <b>Cover letter-</b>Working for over 15 years as a creative writer & editor has given me the experience & skills required to masterfully weave word into engaging content. whether this by writing...
                                </div>
                            </div>
                            <hr>
                              <div class="row">
                                <div class="col-md-2 text-center">
                                    <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="" height="75" width="75">
                                </div>
                                <div class="col-md-10">
                                    <span><strong><a href="">Vincent Porter</a></strong></span>
                                    <p><b>Writer<b></p>
                                    <ul class="list-inline list-unstyled">
                                        <li class="col-md-3">$200.00</li>
                                        <li class="col-md-3 text-center">0 hrs</li>
                                        <li class="col-md-6 text-center"><i class="radius-3x fa fa-map-marker"></i><span style="padding-left:6px">Las Vegas</span></li>
                                        <li class="clearfix"></li>
                                    </ul>
                                    <b>Cover letter-</b>Working for over 15 years as a creative writer & editor has given me the experience & skills required to masterfully weave word into engaging content. whether this by writing...
                                </div>
                            </div>
                            <hr>
                              <div class="row">
                                <div class="col-md-2 text-center">
                                    <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="" height="75" width="75">
                                </div>
                                <div class="col-md-10">
                                    <span><strong><a href="">Pipti Febriana</a></strong></span>
                                    <p><b>Article/feature Writer & Rewriter<b></p>
                                    <ul class="list-inline list-unstyled">
                                        <li class="col-md-3">$300.00</li>
                                        <li class="col-md-3 text-center">0 hrs</li>
                                        <li class="col-md-6 text-center"><i class="radius-3x fa fa-map-marker"></i><span style="padding-left:6px">Uinted States</span></li>
                                        <li class="clearfix"></li>
                                    </ul>
                                    <b>Cover letter-</b>Working for over 15 years as a creative writer & editor has given me the experience & skills required to masterfully weave word into engaging content. whether this by writing...
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="" height="75" width="75">
                                </div>
                                <div class="col-md-10">
                                    <span><strong><a href="">Vincent Porter</a></strong></span>
                                    <p><b>Writer<b></p>
                                    <ul class="list-inline list-unstyled">
                                        <li class="col-md-3">$200.00</li>
                                        <li class="col-md-3 text-center">0 hrs</li>
                                        <li class="col-md-6 text-center"><i class="radius-3x fa fa-map-marker"></i><span style="padding-left:6px">Las Vegas</span></li>
                                        <li class="clearfix"></li>
                                    </ul>
                                    <b>Cover letter-</b>Working for over 15 years as a creative writer & editor has given me the experience & skills required to masterfully weave word into engaging content. whether this by writing...
                                </div>
                            </div>
                        </div>
                  <!--  <hr>-->

                    <div class="row">
                        <!--Alert-->
                       <!-- <div class="col-sm-7 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-send"></i> Alarm Notification</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div data-mcs-theme="minimal-dark" class="panel-body no-padding mCustomScrollbar" id="scrollbar3">
                                    <div class="alert-blocks alert-blocks-pending alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <img alt="" src="assets/img/testimonials/img3.jpg" class="rounded-x">
                                        <div class="overflow-h">
                                            <strong class="color-yellow">Pending... <small class="pull-right"><em>Just now</em></small></strong>
                                            <p>Your friend request has been sent.</p>
                                        </div>
                                    </div>
                                    <div class="alert-blocks alert-blocks-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <img alt="" src="assets/img/testimonials/img2.jpg" class="rounded-x">
                                        <div class="overflow-h">
                                            <strong class="color-green">Accepted. <small class="pull-right"><em>7 hours ago</em></small></strong>
                                            <p>Your friend request has been accepted.</p>
                                        </div>
                                    </div>
                                    <div class="alert-blocks alert-blocks-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="icon-custom rounded-x icon-bg-blue fa fa-bolt"></i>
                                        <div class="overflow-h">
                                            <strong class="color-blue">Info <small class="pull-right"><em>2 days ago</em></small></strong>
                                            <p>Your friend request has been denied :)</p>
                                        </div>
                                    </div>
                                    <div class="alert-blocks alert-blocks-error alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <img alt="" src="assets/img/testimonials/img6.jpg" class="rounded-x">
                                        <div class="overflow-h">
                                            <strong class="color-red">Denied! <small class="pull-right"><em>2 days ago</em></small></strong>
                                            <p>Your friend request has been denied.</p>
                                        </div>
                                    </div>-->
                                   <!-- <div class="alert-blocks alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="icon-custom rounded-x icon-bg-dark fa fa-magic"></i>
                                        <div class="overflow-h">
                                            <strong class="color-dark">Default <small class="pull-right"><em>Just now</em></small></strong>
                                            <p><strong>Adam Johnson's</strong> friend request pending..</p>
                                        </div>
                                    </div>
                                    <div class="alert-blocks alert-blocks-pending alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="icon-custom rounded-x icon-bg-yellow fa fa-info"></i>
                                        <div class="overflow-h">
                                            <strong class="color-yellow">Pending <small class="pull-right"><em>Just now</em></small></strong>
                                            <p><strong>Adam Johnson's</strong> friend request pending..</p>
                                        </div>
                                    </div>
                                     <div class="alert-blocks alert-blocks-pending alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="icon-custom rounded-x icon-bg-yellow fa fa-info"></i>
                                        <div class="overflow-h">
                                            <strong class="color-yellow">Pending <small class="pull-right"><em>Just now</em></small></strong>
                                            <p><strong>Adam Johnson's</strong> friend request pending..</p>
                                        </div>
                                    </div>-->
                        <!--        </div>
                            </div>
                        </div>-->
                        <!--End Alert-->

                       <!-- <div class="col-sm-5">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> Discussions</h2>
                                    <a class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" href="page_profile_comments.html">View All</a>
                                </div>
                                <div data-mcs-theme="minimal-dark" class="panel-body no-padding mCustomScrollbar" id="scrollbar4">
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img6.jpg">
                                        <div class="overflow-h">
                                            <strong>Taylor Lee<small class="pull-right"> 25m</small></strong>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img2.jpg">
                                        <div class="overflow-h">
                                            <strong>Miranda Clarsson<small class="pull-right"> 44m</small></strong>
                                            <p>Donec cursus, orci non posuere luctus, risus massa luctus nisi, sit amet cursus leo massa id arcu. Nunc tincidunt magna sit amet sapien congue.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img4.jpg">
                                        <div class="overflow-h">
                                            <strong>Natasha Kolnikova<small class="pull-right"> 7h</small></strong>
                                            <p>Suspendisse est est, sollicitudin eget auctor et, pharetra eu sapien. Mauris mollis libero ac auctor iaculis.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img alt="" src="assets/img/testimonials/img1.jpg">
                                        <div class="overflow-h">
                                            <strong>Mikel Andrews<small class="pull-right"> 15h</small></strong>
                                            <p>Nam ut dolor cursus nibh aliquet bibendum in eget risus.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">20</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>-->
                                    <!--<div class="comment">
                                        <img alt="" src="assets/img/testimonials/img7.jpg">
                                        <div class="overflow-h">
                                            <strong>Edward Rooster<small class="pull-right"> 1d</small></strong>
                                            <p>Nam ut dolor cursus nibh aliquet bibendum in eget risus. Mauris mollis libero ac auctor iaculis.</p>
                                            <ul class="list-inline comment-list">
                                                <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
                                                <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
                                            </ul>
                                        </div>
                                    </div>-->
                              <!--  </div>
                            </div>
                        </div>-->
                    </div><!--/end row-->

                   <!-- <hr>-->

                    <div class="row margin-bottom-20">
                        <!--Profile Post-->
                        <div class="col-sm-6">
                            <div class="panel panel-profile no-bg">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i>Notes</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div data-mcs-theme="minimal-dark" class="panel-body no-padding mCustomScrollbar" id="scrollbar">
                                    <div class="profile-post color-one">
                                        <span class="profile-post-numb">01</span>
                                        <div class="profile-post-in">
                                            <h3 class="heading-xs"><a href="#">Creative Blog</a></h3>
                                            <p>How to market yourself as a freelance designer</p>
                                        </div>
                                    </div>
                                    <div class="profile-post color-two">
                                        <span class="profile-post-numb">02</span>
                                        <div class="profile-post-in">
                                            <h3 class="heading-xs"><a href="#">Codrops Collective #117</a></h3>
                                            <p>Web Design &amp; Development News</p>
                                        </div>
                                    </div>
                                    <div class="profile-post color-three">
                                        <span class="profile-post-numb">03</span>
                                        <div class="profile-post-in">
                                            <h3 class="heading-xs"><a href="#">Sketch Toolbox</a></h3>
                                            <p>Basic prototype of a package manager for Sketch</p>
                                        </div>
                                    </div>
                                    <div class="profile-post color-four">
                                        <span class="profile-post-numb">04</span>
                                        <div class="profile-post-in">
                                            <h3 class="heading-xs"><a href="#">Amazing Portfolio</a></h3>
                                            <p>Create a free online portfolio lookbook with Readz</p>
                                        </div>
                                    </div>
                                    <div class="profile-post color-five">
                                        <span class="profile-post-numb">05</span>
                                        <div class="profile-post-in">
                                            <h3 class="heading-xs"><a href="#">Discover New Features</a></h3>
                                            <p>More than 100+ amazing add-ons coming soon...</p>
                                        </div>
                                    </div>
                                    <div class="profile-post color-six">
                                        <span class="profile-post-numb">06</span>
                                        <div class="profile-post-in">
                                            <h3 class="heading-xs"><a href="#">Corporation Plans</a></h3>
                                            <p>Discussion of new corporation plans</p>
                                        </div>
                                    </div>
                                    <div class="profile-post color-seven">
                                        <span class="profile-post-numb">07</span>
                                        <div class="profile-post-in">
                                            <h3 class="heading-xs"><a href="#">Project Updates</a></h3>
                                            <p>New features of coming update</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Profile Post-->

                        <!--Profile Event-->
                        <div class="col-sm-6 md-margin-bottom-20">
                            <div class="panel panel-profile no-bg">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Upcoming Events</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div data-mcs-theme="minimal-dark" class="panel-body no-padding mCustomScrollbar" id="scrollbar2">
                                    <div class="profile-event">
                                        <div class="date-formats">
                                            <span>25</span>
                                            <small>05, 2014</small>
                                        </div>
                                        <div class="overflow-h">
                                            <h3 class="heading-xs"><a href="#">GitHub seminars in Japan.</a></h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                                        </div>
                                    </div>
                                    <div class="profile-event">
                                        <div class="date-formats">
                                            <span>31</span>
                                            <small>06, 2014</small>
                                        </div>
                                        <div class="overflow-h">
                                            <h3 class="heading-xs"><a href="#">Bootstrap Update</a></h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                                        </div>
                                    </div>
                                    <div class="profile-event">
                                        <div class="date-formats">
                                            <span>07</span>
                                            <small>08, 2014</small>
                                        </div>
                                        <div class="overflow-h">
                                            <h3 class="heading-xs"><a href="#">Apple Conference</a></h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                                        </div>
                                    </div>
                                    <div class="profile-event">
                                        <div class="date-formats">
                                            <span>22</span>
                                            <small>10, 2014</small>
                                        </div>
                                        <div class="overflow-h">
                                            <h3 class="heading-xs"><a href="#">Backend Meeting</a></h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                                        </div>
                                    </div>
                                    <div class="profile-event">
                                        <div class="date-formats">
                                            <span>14</span>
                                            <small>11, 2014</small>
                                        </div>
                                        <div class="overflow-h">
                                            <h3 class="heading-xs"><a href="#">Google Conference</a></h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                                        </div>
                                    </div>
                                    <!--<div class="profile-event">
                                        <div class="date-formats">
                                            <span>05</span>
                                            <small>12, 2014</small>
                                        </div>
                                        <div class="overflow-h">
                                            <h3 class="heading-xs"><a href="#">FontAwesome Update</a></h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!--End Profile Event-->
                    </div><!--/end row-->

                    <hr>
                    <!-- Begin Table Search v2 -->
                    <div class="table-search-v2"></div>
                    <!-- End Table Search v2 -->
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div>

</div>