<div ng-controller="LoginController">    
<div class="tag-box tag-box-v2 margin-bottom-40">
    <div class="modal-header text-center">
	<img class="shrink-logo" src="assets/img/logo2-default.png" alt="Logo">
        <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss('cancel')">&times;</button>	
    </div>
    <div class="modal-body">       
		<h3><strong>Reset your password</strong></h3>
                <div class="col-md-10 col-md-offset-1 margin-bottom-20"><p>Please enter the email associated with AdvisorHunter account</p></div>
   
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form ng-submit="forgetpassword()" class="sky-form" name="passwordForm" id="forgetpassword-form" method="post" role="form" >
                              <section>
                                <label class="input" ng-class="{ 'has-success': !error['email'] && submitted,
                                    'has-error': error['email'] && submitted }"
                                     class="form-group field-loginform-email required">
                                        <i class="icon-append fa fa-envelope" aria-hidden="true"></i>
                                    	<input ng-model="userModel.email" type="email" id="loginform-email" class="form-control" placeholder="Email">
                                </label><em class="help-block help-block-error">{{ error['email'] }}</em>
                                </section>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-u btn-fullWidth" name="login-button">Send Mail</button>
                                </div>
                            </form>
                        </div>
       		 </div>
		<div class="modal-footer">
		    <div is="null" class="col-sm-12 margin-bottom-20"><a ng-controller="home" ng-click="login()"> Go back to Log In</a></div>
		</div>
    </div>    
    
</div>
</div>



