<div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img alt="" src="../frontend/assets/img/logo1-default.png" class="footer-logo" id="logo-footer"></a>
                        <p>AdvisorHunter is a young talented start-up, which provides solutions to the service industry. We have high expectations of each other and work as a team to build things we are all proud of. That mind-set, along with our execution, has allowed AdvisorHunter to have 250+ clients in a short span of time.</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                                <div class="heading-footer headline"><h2>Professionals</h2></div>
                                <ul class="list-unstyled latest-list">
                                    <li><a href="page_about_me.php">How it Works</a></li>
                                    <li><a href="page_profile_comments.php">Sign Up</a></li>
                                    <li><a href="page_jobs.php">Success stories</a></li>
                                    <li><a href="#">Buy Credits</a></li>
                                    <li><a href="page_contact2.php">Download Mobile Aps</a></li>
                                </ul>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact Us</h2></div>
                      <ul class="list-unstyled contacts">
                            <li>
                               <p><i class="radius-3x fa fa-map-marker"></i>&nbsp;&nbsp;
                                34250 Ethan Terrace,
                                San Francisco, CA 94555</p>
                            </li>
                            <li>
                                <p><i class="radius-3x fa fa-phone"></i>&nbsp;&nbsp;
                                (+1) 302 7438382<br>
                                </p>
                            </li>
                            <li>
                                <p><i class="radius-3x fa fa-globe"></i>&nbsp;&nbsp;
                                    info@advisorhunter.com<br>
                                    www.advisorhunter.com</p>
                            </li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2015 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a data-original-title="Facebook" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Skype" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Google Plus" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Linkedin" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Pinterest" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Twitter" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Dribbble" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div><!--/copyright-->
    </div>